* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
  padding: 10px; /* or 20px */
}
.swiper {
  width: 80%;
  height: 400px;
  display: flex;
}
.img-fluid {
  height: 400px;
}

.img-thumbnail {
  height: 800px;
  width: 90%;
}
@media (max-width: 769px) {
  .img-fluid {
    height: 300px;
  }

  .img-thumbnail {
    height: 400px;
    width: 100%;
  }
}

a{
    list-style: none;
    text-decoration: none;
}